/* Todo: interaction states on all buttons */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    background-color: #0a2342;
}

.main {
    width: 100%;
    height: 100%;
}
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    height: 100vh;
}

.configurator {
    display: flex;
    flex-direction: row;
    width: 35vw;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #087e8b;
}

.configurator-sidebar {
    padding: 1rem;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.configurator-sidebar > .menu {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
    margin-top: 0.5rem;
}

.configurator-sidebar > .menu.active {
    background-color: #8affc8;
    color: #000;
}

.configurator-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 70%;
    height: 100%;
    overflow-y: auto;
}
.configurator-content .image-container {
    transform-origin: center center;
    flex: 0 0 auto;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;
    border: 2px solid transparent;
    position: relative;
}

.configurator-content .image-container:hover {
    transform: scale(1.05);
    border: 2px solid skyblue;
}

.configurator-content .image-container.active {
    border: 2px solid deepskyblue;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.configurator-content .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.configurator-content .image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-configurator {
    width: 18rem;
    position: absolute;
    bottom: 3rem;
    left: calc(65vw / 2);
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.room-size-modal,
.floor-texture-modal,
.room-configurator__actions {
    background-color: #087e8b;
    padding: 1rem;
    border-radius: 1rem;
}

.room-size-modal {
    display: none;
}

.room-configurator__actions button {
    padding: 1rem;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #8affc8;
}
.room-configurator__actions button:hover {
    background-color: #2f3061;
    color: #fff;
}

.room-size-modal {
    color: #fff;
}
.room-size-modal .heading,
.floor-texture-modal .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-size-modal .title,
.floor-texture-modal .title {
    padding: 0.5rem;
}

.room-size-modal button.close,
.floor-texture-modal button.close {
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: coral;
}

.room-size-modal button.close:hover,
.floor-texture-modal button.close:hover {
    color: #fff;
    border-color: #fff;
}

.room-size-modal .content-child,
.room-size-modal .content-child .content-child__action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.room-size-modal .content-child .content-child__action div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    height: 2rem;
    font-size: 1rem;
    line-height: 1;
}

.room-size-modal .content-child {
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
}

.room-size-modal .content-child .content-child__action {
    gap: 0.5rem;
}
.room-size-modal .content-child .content-child__action button {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.floor-texture-modal {
    display: none;
    color: #fff;
}

.floor-texture-modal .title {
    padding: 0.5rem;
}
.floor-texture-modal .textures-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: scroll;
}

.texture {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.texture-name {
    text-align: center;
    margin-bottom: 0.5rem;
}

.floor-texture-modal .textures-container .texture .texture-img {
    max-width: 150px;
    border-radius: 1rem;
    cursor: pointer;
    border: 3px solid transparent;
}
.texture-img.active {
    border-color: skyblue !important;
}

.room-configurator__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.config-modal {
    position: absolute;
    top: 5rem;
    left: 5rem;
    min-width: 250px;
    min-height: 200px;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: azure;
    visibility: hidden;
}

.config-modal-title,
.config-modal-description {
    color: #000;
    margin: 0.5rem auto;
}

.config-modal-slider {
    margin: 0.5rem auto;
}

.config-modal-slider > #model-rotation,
.config-modal-slider > #model-width {
    width: 100%;
}
.config-modal-slider--container__hidden {
    display: none;
}

.config-modal-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.config-modal-action > button {
    padding: 0.5rem;
    border: 2px solid gray;
    border-radius: 0.2rem;
}
