* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.landing-hero {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  position: relative;
}

.landing-hero .video-preview video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  transform: translate(-50%, -50%);
  object-fit: cover;
  cursor: pointer;
  z-index: 10;
  transition: none;
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-position: center center;
  background-size: contain;
  width: 250px; */
  /* height: 250px; */
  border-radius: 8px;
  opacity: 0.4;
  transition: opacity 0.5s ease-in;
  cursor: pointer;
}

.landing-hero .video-preview video:hover {
  opacity: 1;
}

.landing-hero .video-preview .invisible-preview {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  transform: translate(-50%, -50%);
  object-fit: cover;
  cursor: pointer;
  z-index: 5;
  transition: none;
}
